:root {
    --textgray: rgb(24, 24, 24);
    font-family: 'Roboto', sans-serif;
}

ul {
    border: 3px solid var(--textgray);
    padding: 5px;
    list-style-position: inside;
}

li {
    padding: 3px;
}

/* Header start */

/* Gives all divs in the header some padding */
header div {
    padding: 10px;
}

/* Floats timer to the right of the header */
#timer {
    float: right;
}

/* Sets the highscore link in the header to display inline */
#highscorelink {
    display: inline-block;
}

/* Removes the default color formatting on the highscores link */
#highscorelink a:link, #highscorelink a:visited {
    color: var(--textgray);
}

/* Header end */


/* Buttons Start */

.btn-center {
    position: absolute; 
    left: 50%; 
    transform: translate(-50%, 0);
}

.btn-block {
    display: block;
}

button {
    color: white;
    background-color: orangered;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    width: 30%;
    height: 35px;
}

/* Buttons End */

/* Basic class for centering text */
.text-center {
    text-align: center;
}

/* Set the width and center of the main containing div */
#container {
    width: 60%;
    margin: auto;
    padding-top: 20px;
}

/* Gives the response text some bold and pushes it away from the other content */
#response {
    font-weight: bold;
    padding-top: 20px;
}

/* Formats the nickname input field */
input {
    color: white;
    background-color: orangered;
    border: solid 2px rgb(161, 43, 0);
    border-radius: 10px;    
    padding: 10px 20px;
    margin: 10px;
}

/* Basic class for centering a div horizontally */
.center {
    margin: auto;
    width: 75%;
}

/* Gives each line of the highscore table an underline */
td {
    border-bottom: black solid 1px;
    text-align: center;
}

/* Ensures each column of the table is the same width */
table {
    table-layout: fixed;
}

.rightButton {
    float: right;
}

@media screen and (max-width: 768px) {
    .rightButton {
        float: initial;
    }

    /* Expands the container so content fills the screen */
    #container {
        width: 100%;
        margin: auto;
        padding-top: 0;
    }
    
    button {
        width: 100%;
        height: 50px;
    }

    #scorecontainer {
        width: 100%;
        margin: auto;
    }

    /* Centers the timer and puts it underneath the highscore */
    #timer {
        display: block;
        float: none;        
        margin: auto;
        text-align: center;
    }

    #highscorelink {
        display: block;
        float: none;        
        margin: auto;
        text-align: center;
    }
}



